<div class="navbar navbar-default fixed-top shadow">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Angular Events</a>
    </div>

      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/events" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">All Events</a>
        </li>

        <li>
          <a routerLink="/events/new" routerLinkActive="active">Create Event</a>
        </li>

      </ul>


      <form id="searchForm" class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Sessions">
        </div>
        <button class="btn btn-default"> Search </button>
      </form>

      <div class="navbar-header navbar-right">
        <ul class="nav navbar-nav">
          <li>
            <div *ngIf="authService.user$ | async as user; then profile else login"></div>
          </li>
        </ul>
      </div>



  </div>
</div>

<ng-template #profile>
  <a *ngIf="authService.user$ | async as user;" routerLink="/user/profile" routerLinkActive="active" class="nopad">
    <img [src]="user.photoURL" class="avatar">{{ user.nickName }}
  </a>
</ng-template>


<ng-template #login>
  <a routerLink="/user/login" routerLinkActive="active">Login</a>
</ng-template>
