.nav-bar.nav {
  font-size: 15px;
}

#searchForm{
  padding-right: 75px;
}

@media(max-width: 991px){
  #searchForm{
    display: none;
  }

}

.navbar.navbar-default {
  margin-left: -15px;
  margin-right: -15px;
}


.navbar-default .navbar-nav>li>a.active, .navbar-default .navbar-nav>li>a.active {
    color: #ebebeb;
    background-color: #283542;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.fixed-top {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.avatar {
  margin-top: 5px;
  margin-bottom: 5px;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.nopad {
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
}
