.nav-bar.nav {
  font-size: 15px;
}



.navbar-default .navbar-nav>li>a {
  margin-left: 5px;
  margin-right: 5px;
}

.navbar-default .navbar-nav>li>a.active {
    color: #ebebeb;
    background-color: #283542;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.fixed-top {
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.avatar {
  margin-top: 5px;
  margin-bottom: 5px;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.nopad img {
  padding: 0;
  margin: 5px;
}
.nopad {
  padding: 0;
  padding-right: 10px;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  vertical-align: center;
  align-items: center;
  height: 50px;
}

/*
@media(max-width: 786px){
  .container-fluid {
    height: 100px;
  }

  .navbar-brand{
    font-family: 12px;
  }
}
*/
.navbar-right{
  justify-self: flex-end;
}


.navbar.navbar-default {
  border-radius: 0px !important;
  margin-left: -15px;
  margin-right: -15px;
}
