<div>
  <h1>Edit Your Profile </h1>
  <hr>
  <div class="col-md-4">
    <form [formGroup]="profileForm" (ngSubmit)="saveProfile(profileForm.value)" autocomplete="off" novalidate>

      <div class="form-group">
        <label for="nickName">Nick Name:</label>
        <em *ngIf="nickName.errors?.required">Required</em>
        <em *ngIf="nickName.errors?.pattern">Must start with a letter</em>
        <input formControlName="nickName" id="nickName" type="text" class="form-control" [class.error]="nickName.invalid" placeholder="Nick Name..." />
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="profileForm.invalid">Save</button>
      <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
      <button type="button" class="btn btn-danger right" (click)="logout()">Logout</button>

    </form>
  </div>
</div>
