.nav-bar.nav {
  font-size: 15px;
}


#searchForm{
  padding-right: 75px;
}



@media(max-width: 991px){
  #searchForm{
    display: none;
  }

}

.navbar.navbar-default {
  margin-left: -15px;
  margin-right: -15px;
}


.navbar-default .navbar-nav>li>a.active, .navbar-default .navbar-nav>li>a.active {
    color: #ebebeb;
    background-color: #283542;
}
