.nav-bar.nav {
  font-size: 15px;
}


#searchForm{
  padding-right: 75px;
}



@media(max-width: 991px){
  #searchForm{
    display: none;
  }

}

.navbar.navbar-default {
  margin-left: -15px;
  margin-right: -15px;
}
